# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [4]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [5]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Step 4. See the first 10 entries

In [6]:
print(chipo.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### Step 5. What is the number of observations in the dataset?

In [11]:
# Solution 1
sol1 = chipo.shape[0]
print(sol1)

4622

In [ ]:
# Solution 2
sol2 = chipo.index[-1] + 1      # index starts at 0
print(sol2)

4621

### Step 6. What is the number of columns in the dataset?

In [15]:
columns = chipo.shape[1]
print(columns)

5

### Step 7. Print the name of all the columns.

In [22]:
column_names = chipo.columns
for name in column_names:
    print(name)

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [23]:
print(chipo.index)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [26]:
chipo_sorted = chipo.sort_values('quantity', ascending=False)
print(chipo_sorted.iloc[0, 2])

Chips and Fresh Tomato Salsa

### Step 10. For the most-ordered item, how many items were ordered?

In [27]:
most_ordered_quatity = chipo_sorted.iloc[0,1]
print(most_ordered_quatity)

15

### Step 11. What was the most ordered item in the choice_description column?

In [62]:
# Drop NAs
chipo_no_na = chipo.dropna()

# Group by 'choice_description'
chipo_grouped = chipo.groupby('choice_description').sum()

# Sort to get highest qunatity
chipo_grouped_and_sorted = chipo_grouped.sort_values(['quantity'], ascending=False)

# Answer
print(chipo_grouped_and_sorted.index[0])

[Diet Coke]

### Step 12. How many items were ordered in total?

In [48]:
total_items_ordered = chipo['quantity'].sum()
print(total_items_ordered)

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

#### Step 13.b. Create a lambda function and change the type of item price

#### Step 13.c. Check the item price type

#### Let me cook

In [75]:
# Remove dollar sign
chipo['item_price'] = chipo['item_price'].astype('string').str.replace('$', '')

# Change type to float
chipo['item_price'] = chipo['item_price'].astype('float')
print(chipo.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB
None

### Step 14. How much was the revenue for the period in the dataset?

In [87]:
# Create new column for order_amount
chipo['order_amount'] = (chipo['quantity'] * chipo['item_price']).round(2)

# Get sum
revenue = chipo['order_amount'].sum().round(2)
print(f'${revenue}')

$39237.02

### Step 15. How many orders were made in the period?

In [110]:
# Get unique order_ids
unique_orders = chipo['order_id'].unique()
print(unique_orders.shape[0])

1834

### Step 16. What is the average revenue amount per order?

In [ ]:
# Solution 1

# Groupby unique order_ids
chipo_gby_oid = chipo.groupby('order_id').sum()

# Get mean amount of unique orders
ave_revenue = chipo_gby_oid['order_amount'].mean()
print(ave_revenue.round(2))

21.39

In [ ]:
# Solution 2

# Cant think of other ways
print(chipo.groupby('order_id').sum()['order_amount'].mean().round(2))

21.39

### Step 17. How many different items are sold?

In [123]:
print(chipo['item_name'].unique().shape[0])

# OR (for efficiency)

print(chipo['item_name'].nunique())

50
50